# Server
SERVER_HOST='http://localhost'
SERVER_PORT=8000

# Database Connection
DB_HOST=''
DB_LOGGER='advanced-console'
DB_LOGGING_ALL=false
DB_LOGGING_CUSTOM=error,log,warn,info,schema
DB_NAME=''
DB_PASSWORD=''
DB_PORT=3066
DB_SYNCHRONIZE=true
DB_TYPE='mariadb'
DB_USER=''

# JWT
JWT_ACCESS_TOKEN_EXPIRATION_TIME='2h'
JWT_ACCESS_TOKEN_SECRET='token_secret'
JWT_HASH_SALT=10
JWT_REFRESH_TOKEN_EXPIRATION_TIME_IN_DB=2592000
JWT_REFRESH_TOKEN_EXPIRATION_TIME='7d'
JWT_REFRESH_TOKEN_SECRET='refresh_token_secret'

# MAIL
MAIL_USERNAME='email@gmail.com'
MAIL_PASSWORD='your password'

# APP CONFIG
APP_FRONT_URL='http://localhost:4000'
APP_URL='http://localhost:8000'
APP_USER_ROLES=user,admin,super_admin,sys_admin
